In [ ]:
x=20

In [ ]:
if x>10 :
  print('x>10')

x>10

In [ ]:
x=20
if x>10 :
  print('x>10')
if x<10 :
  print('x<10')
if x==10:
  print('x=10')

x>10

In [ ]:
x=int(input('ENTER A NUMBER'))
if x>100:
  print('PASS')
if x<100:
   print('FAILED')
if x==100:
     print('PASS')

ENTER A NUMBER45
FAILED

In [ ]:
x=int(input('ENTER SALARY'))
if x>250000:
  print(x*10/100)
if x<250000:
  print('NO TAX')

ENTER SALARY260000
26000.0